<div class = "container">
    <div class = "title">
        FREQUENTLY ASKED QUESTIONS
    </div>

    <div class="agreement"></div>

    <div class = "fq" *ngFor = "let question of questions; let i = index" >        
        <div class = "box">
            <div class = "question">
                {{question.text}}
            </div>
            <button *ngIf = "question.pressed==false" class = "show" (click) = "buttonPressed(i)">></button>
            <button *ngIf = "question.pressed" class = "hide" (click) = "buttonPressed(i)">></button>
        </div>
        <div class = "answer" *ngIf="question.pressed">
            {{ question.answer}}
        </div>
    </div>
</div>
