<div class = "container">
    <div class = "links">
        <div class = "title"> Support </div>
        <a href = "/faq">FAQ</a>
        <a href = "/policy">Rules & Regulations</a>
        <div class = "socials">
            <a href = "https://www.facebook.com/p/Reynodance-100057516008213/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href = "https://www.instagram.com/reynodanceacademy_/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <img class = "logo" src="/assets/images/logo.png">

    <div class = "links">
        <div class = "title"> Contact Us!</div>
        <div class = "contact"><i class="fas fa-map-marker-alt"></i>  2401 S. Shary Rd. <br>
            Suite 5 Riverside Plaza <br>
            Mission, TX 78572</div>
        <div class = "contact"><i class="fas fa-phone-alt"></i>  (956) 483-8225</div>
        <div class = "contact"><i class="fas fa-envelope"></i>  nidelosreyes&#64;gmail.com</div>
    </div>
</div>

<div class = "copyrightText">
    Copyright © 2024 ReynoDance Academy. All Rights Reserved.
</div>