<div id = "#top" class = "container">
    <div class = "title">MEET OUR TEAM!</div>
    <div class = "teacher">
        <img class = "teacherPhoto" src="/assets/images/norma.jpg">
        <div class = "teacherTitle">NORMA DE LOS REYES
            <div class = "teacherPos">Founder</div>
            <div class = "teacherInfo">She is a distinguished director and teacher in the world of dance, celebrated for her 40 years of experience and unwavering dedication to cultivating the fine arts in future generations.
                <br><br>With an innate passion for teaching, she has devoted her life to inspiring and guiding her students toward excellence. Her profound knowledge and exceptional ability to share it shine through in every class, where she not only teaches technique but also nurtures creativity and a deep love for dance.
                <br><br>Her commitment to excellence, paired with her vision and leadership, makes her an invaluable cornerstone of our academy, fostering an environment where every student can reach their full potential.</div>
        </div>
    </div>

    <div class = "teacher">
        <div class = "teacherTitle">MARCELA CAVAZOS
            <div class = "teacherPos">Ballet Teacher</div>
            <div class = "teacherInfo">
                She began and completed her professional studies at the Ballet School of Monterrey and later joined the BdM Company under the direction of José Manuel Carreño. She participated in productions such as Sleeping Beauty, The Nutcracker, Coppélia, La Fille Mal Gardée, Don Quixote, The Phantom of the Opera, among others.
                <br><br>She took part in the International Meeting of Academies for Ballet Instruction in Cuba, where she learned from the country’s finest instructors. She was also part of an international tour to Spain, where the company performed in several cities, including Úbeda, Oviedo, Bilbao, Madrid, and Barcelona, presenting Swan Lake and La Bayadera.
            </div>
        </div>
        <img class = "teacherPhoto" src="/assets/images/marcela.JPG" alt = "Marcela Cavazos">
    </div>

    <div class = "teacher">
        <img class = "teacherPhoto" src="/assets/images/lira.JPG">
        <div class = "teacherTitle">LIRA PARKER
            <div class = "teacherPos">Gymnastics Teacher</div>
            <div class = "teacherInfo">
                With over 15 years of dedicated experience in gymnastics and cheerleading, she has showcased her talent and passion on some of the most prestigious stages. Her impressive journey includes competing at state, regional, national, and international levels, representing elite organizations such as the Olympic Cheerleading Confederation, the National Cheerleading Organization, UPA International Competition, and Showtime International. Her unwavering commitment and skill have made her a standout in the world of cheerleading and gymnastics.
            </div>
        </div>
    </div>

    <div class = "teacher">
        <div class = "teacherTitle">ROMAN PEREGRINO
            <div class = "teacherPos">Jazz Teacher</div>
            <div class = "teacherInfo">
                He is a renowned professional dancer that has forged an extraordinary career, receiving world-class training in Mexico, New York, Broadway, and Las Vegas. With a wealth of experience spanning theater, musicals, television, and film, he has become a standout figure in the performing arts world.
                <br><br>He has dazzled audiences in iconic productions like Kiss of the Spider Woman and West Side Story. He has also shared the spotlight with international superstars such as Paulina Rubio, Alejandra Guzmán, and Thalía, and brought his creative vision to the big screen as an assistant choreographer for the Hollywood film The Mask of Zorro starring Antonio Banderas.
            </div>
        </div>
        <img class = "teacherPhoto" src="/assets/images/roman.jpg">
    </div>
</div>>
