.container{
  color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px 50px 50px;
  width: 80%;
  margin: 0 auto;
}

.title{
  font-size: 28px;
  font-weight:400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--hotPink);
}

.teacher{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 20px;
}

.teacherPhoto{
  width: 40%;
  border-radius: 100%;
  height: 40%;
}

.teacherTitle{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 50%;
  font-size: 22px;
  text-align: center;
  color: var(--hotPink);
  font-weight: 400;
}

.teacherPos{
  display: flex;
  font-size: 16px;
  font-style:italic;
  color: var(--black);
  font-weight: 400;
}

.teacherInfo{
  display: flex;
  text-align: center;
  font-size: 14px;
  color: var(--black);
  font-weight: 300;
}

