.pictures {
  display: flex;
  width: 100%;
  height: 350px;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop excess */
}

button {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: none; /* Remove borders */
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

button:first-of-type {
  left: 10px;
}

button:last-of-type {
  right: 10px; 
}

.intro{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  justify-content: center;
}

.title{
  text-align: center;
}