<div class="container">
  <div class="left">
    <a routerLink="/"> 
      <img class="logo" src="/assets/images/logo.png" alt="Logo" /> 
    </a>
    <a routerLink="/">ReynoDance Academy</a>
  </div>

  <!-- Navbar when NOT logged in -->
  <div class="right" *ngIf="!(isLoggedIn | async)">
    <a routerLink="/about">About</a>
    <a routerLink="/events">Events</a>
    <a routerLink="/classes">Classes</a>
    <a routerLink="/schedule">Schedule</a>
    <a class="sign-in" routerLink="/sign-in">Sign-In</a>
  </div>

  <!-- Navbar when logged in -->
  <div class="right" *ngIf="isLoggedIn | async">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/events"></a>
    <a routerLink="/classes">Classes</a>
    <a routerLink="/schedule">Schedule</a>
    <a routerLink="/home" class="logout" (click)="logout()">Logout</a>
  </div>
</div>

