.container{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}