<div class = "container">
    <div class = "title">GROUP SCHEDULES</div>

    <div class = "below"> Visualize your schedule below!</div>
    
    <div class="filter-buttons">
        <button class = "clear" (click) = "refresh()">
            <i class="fas fa-arrow-rotate-right"></i>
        </button>
        <button *ngFor="let group of groups" (click)="filterSearch(group)" [class.active]="selected.includes(group)">
          {{ group }}
        </button>
        <button class = "clear" (click) = "clearAll()">
            X
        </button>
      </div>

    <div class = "classInfo">
        <div class = "classes" *ngFor = "let group of groups">   
            <div class = "class">
                {{ group }}
            </div>
            <div class = "summary">
                {{ groupSummaries[group] }}
            </div>
        </div>
    </div>

    <div class = "visualizer">
        <div class = "graph">
            <div class = "weekday" *ngFor = "let day of week">
                <div class = "day">{{ day.day }}</div>
                <div class = "schedule">
                    <div class = "row" *ngFor = "let schedule of day.schedules">
                        <div class = "type" *ngIf = "selected.includes(schedule.group)"> {{ schedule.group }}</div>
                        <div class = "type" *ngIf = "selected.includes(schedule.group)"> {{ schedule.class }}</div>
                        <div class = "time"  *ngIf = "selected.includes(schedule.group)"> {{ schedule.time }}</div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>