<div class = "container">
    <div *ngIf="users.length > 0; else noStudents">
      
        <h2>Students</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Email</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.fullName }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.mother.email }}</td>
              <td>{{ user.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noStudents>
        <p>No students registered.</p>
      </ng-template>    
</div>