<div class = "container">
    <div *ngIf="acceptedStudents.length > 0; else noRegistrations">
        <h2>Registrations</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Email</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registration of acceptedStudents">
              <td>{{ registration.fullName }}</td>
              <td>{{ registration.age }}</td>
              <td>{{ registration.mother.email }}</td>
              <td>{{ registration.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noRegistrations>
        <p>No registrations available.</p>
      </ng-template>    
</div>