<div class = "pictures">
    <button type = "picsButton" (click) = prevPic()><</button>
    <img alt = "ReynoDance" [src]="getImagePath()">
    <button type = "picsButton" (click) = nextPic()>></button>
</div>

<div class = "container">
    <div class = "title">WELCOME TO REYNODANCE ACADEMY!</div>
    
    <button type = "button" [routerLink] = "['/register']" class = "learnMore">Register Now!</button>

    <div class = "summary">
        ReynoDance Academy is a premier dance studio offering a diverse range of classes, including Aerial Silks, Ballet, Gymnastics, Hip-Hop, Jazz, Latin Rhythms, and Tap. Established and led by Norma de los Reyes for over 40 years, the academy is dedicated to inspiring students of all ages to express themselves, build confidence, and achieve excellence through dance. Welcoming students as young as 3 years old, ReynoDance Academy provides programs for beginners and advanced dancers alike.
        <br><br>
        With a legacy rooted in passion and artistry, the academy has cultivated a vibrant, family-like community where students feel supported and inspired. Its state-of-the-art facilities and professional-grade equipment create an environment designed for creativity and growth. Students of ReynoDance Academy have showcased their talents in regional competitions and events, earning accolades for their skill and dedication. Under the visionary leadership of Norma de los Reyes, the academy continues to be a cornerstone of the community, fostering a love for dance that spans generations.    </div>

    <button type = "button" [routerLink] = "['/about']" class = "learnMore">Learn more!</button>

    <div class = "moreInfo">
        <div class = "location">
            <div class = "locationTitle">Location:</div>
            2401 S. Shary Rd. <br>
            Suite 5 Riverside Plaza <br>
            Mission, TX 78572
        </div>
        <div class = "hoursDiv">
            <div class = "hoursTitle">Hours of Operation:</div>
            <div class = "hours">
                <div class = "days">Sunday<br> Monday - Thursday<br> Friday <br>Saturday</div>
                <div class = "time">CLOSED<br> 3:00 PM - 9:00 PM <br>5:00 PM - 8:00 PM<br> 10:00 AM - 1:00 PM</div>
            </div>
        </div>
    </div>
</div>