.pictures {
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop excess */
}

.pictures button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: none; /* Remove borders */
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.pictures button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.pictures button:first-of-type {
  left: 10px;
}

.pictures button:last-of-type {
  right: 10px; 
}

.container{
  color: black;
  display:flex;
  flex-direction: column;
  padding: 30px 50px 50px 50px;
  width: 90%;
  margin: 0 auto; /* Ensures it's centered horizontally */
  box-sizing: border-box;
}

.title{
  font-size: 28px;
  font-weight:400;
  margin-top: 20px;
  margin-bottom: 35px;
  color: var(--hotPink);
  text-align: center;
}

.summary{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 35px;
}

.moreInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.locationTitle{
  text-align: center;
  margin-bottom: 15px;
  color: var(--hotPink);
  font-weight: 600;
  font-size: 18px;
}

.location,
.hoursDiv {
  flex: 1; /* Ensures equal width for both */
  padding: 10px; /* Adds spacing inside each section */
  box-sizing: border-box; /* Includes padding in width calculation */
}

.hoursTitle{
  text-align: center;
  margin-bottom: 15px;
  color: var(--hotPink);
  font-weight: 600;
  font-size: 18px;
}

.hours{
  display: flex;
  justify-content: space-between;
}

.days {
  text-align: left;
  flex: 1;
}

.time {
  text-align: right;
  flex: 1;
}

.learnMore{
  background-color: var(--lightPink);
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid var(--hotPink);
}

.learnMore:hover{
  background-color: var(--hotPink);
  font-size: 19px;
  font-weight: 400;
  cursor: pointer; 
  color: white;
}