<div class = "container">
    <div class = "title">
        RULES AND REGULATIONS
    </div>
    <div class = "pp">
        <div class="agreement">Discipline is very important in Dance. By being part of REYNODANCE ACADEMY, I commit to following its guidelines.</div>
        
        <div class = "policy">
            AGE:
        </div>
        <div class = "explanation">
            Students will be accepted starting at 2 years old (boys and girls).
            <br>Students will be placed and relocated by the instructor into their respective groups according to their age and knowledge of the subject.
        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            BE PUNCTUAL:
        </div>
        <div class = "explanation">
            Students must arrive on time, properly dressed in uniform, and with their hair styled (arriving late disrupts the class).
            <br>It is the parents’ responsibility to drop off and pick up their children on time.
            After class, teachers or staff are not responsible for the students.
        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            BE CLEAN:
        </div>
        <div class = "explanation">
            Personal hygiene is essential. Keep your hair styled back, with your forehead and neck clear. The use of deodorant is mandatory. Do not wear jewelry or accessories during classes.
            <br>Chewing gum, food, candy, or toys are not allowed in the dance studio. The use of cell phones during class is prohibited.
            <br>(Students will be responsible for any damage caused to the academy and must repair it.)
        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            DRESS LIKE A DANCER:
        </div>
        <div class = "explanation">
            Follow the dress code (uniform) during classes so the instructor can observe your movements and provide appropriate corrections.
            <br>Wear street clothes when arriving at or leaving the academy. Dance shoes should never be worn outside, as they can get damaged.
        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            PAYMENTS:
        </div>
        <div class = "explanation">
            Payments must be made within the first five days of the month. Afterward, a late fee of $10.00 USD will apply per overdue month without exception.
            <br>(Students with outstanding balances will not be allowed to attend class.)
            <br>It is the parents’ responsibility to pay the full monthly fee, even if the student does not attend. Regular attendance is essential. Attendance will be taken at every class.
            <br>Students are allowed a maximum of three absences per month. After the fourth unexcused absence, they will be unenrolled and will need to re-register to rejoin.

        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            COURSE DURATION:
        </div>
        <div class = "explanation">
            The dance course runs from August through June, including these months, which must be paid in full. The school district calendar will be followed for holidays and vacation days.
        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            EVENTS:
        </div>
        <div class = "explanation">
            Several events will take place throughout the year:<br>
            <ul>
                <li>Nutcracker in December</li>
                <li>Competitions on March 9 and April 6</li>
                <li>2025 End-of-Course Recital at the Performing Arts Center (details will be provided later).</li>
                <li>Scheduled participation in the Dance a Wish parade at Disneyland, California, on July 21, 2025.</li>
            </ul>
        </div>
    </div>

    <div class = "pp">        
        <div class = "policy">
            MATERIAL:
        </div>
        <div class = "explanation">
            Everyone's collaboration will help us maintain a clean and safe environment for our students. Each student must provide:<BR>
            <ul>
                <li>1 package of toilet paper</li>
                <li>Liquid hand soap</li>
                <li>Wet wipes</li>
                <li>Kleenex</li>
                <li>Lysol</li>
                <li>1 yoga block for personal and group use in class</li>
            </ul>
        </div>
    </div>

    <div class = "right">REYNODANCE RESERVES THE RIGHT OF ADMISSION.</div>

    <div class="signature">NORMA I. DE LOS REYES</div>
    <div class = "director">Director </div>
    
</div>

